<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">    
    <link rel="stylesheet" href="/css/forms.css">
    
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="signup-wrap">                
                <p class="signup-title poppins-600">Sign Up</p>
                <div class="inputs-wrap">
                    <div class="form-section">
                    <input 
                        class="input"
                        type="email"
                        name="email" 
                        id="email" 
                        value="<%= oldInput.email %>"
                        placeholder="email"
                    >
                    </div>
                    <div class="form-section">
                        <input 
                            class="input"
                            type="username"
                            name="username" 
                            id="username" 
                            value="<%= oldInput.username %>"
                            placeholder="username"
                        >
                    </div>
                    <div class="form-section">
                        <input 
                            class="input"
                            type="password" 
                            name="password" 
                            id="password" 
                            placeholder="password"
                        >
                    </div>
                    <div class="form-section">
                        <input 
                            class="input"
                            type="password" 
                            name="confirmPassword" 
                            id="confirmPassword" 
                            placeholder="confirm-password"
                        >
                    </div>
                </div>
                <button class="create-acc-btn poppins-500" type="submit">Sign Up</button>

            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>